/*
margin: 10px auto; => O valor auto na margens esquerda e direita centraliza o container.

position: static; => padrão

Quando usamos o valor RELATIVE para o atributo position, precisamos indicar as propriedades de deslocamento, que são 4: top; right; bottom; left.
Ex.:
position: relative;
    top: 20px;
    Isso indica que a partir da posição inicial da parte de cima, o elemento irá se deslocar 20px (para o lado oposto).
É possível indicar medidas negativas.
*/
body{
    background: #007fc7;
}

#container{
    background: #FFF;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
}

p{
    width: 300px;
}

.relative{
    border: 1px solid red;
    position: relative;
    /* top, right, bottom, left*/
    top: -20px;
    left: 80px;
}
